﻿@{
    ViewBag.Title = "About";
}

<p>Created by Nick Spiers at <a href="http://www.webstationinc.com" target="_blank">Web Station, Inc</a></p>
<p>Quicksound uses a search term to show you an image with a sound clip</p>